@attribute 'Age' { 22,26,28,27,32,36,33,23,20,29,25,37,24,18,30,40,31,19,21,35,17,38 }
@attribute 'Delivery number' { 1,2,3,4 }
@attribute 'Delivery time' { 0,1,2 } -> {0 = timely , 1 = premature , 2 = latecomer}
@attribute 'Blood of Pressure' { 2,1,0 } -> {0 = low , 1 = normal , 2 = high }
@attribute 'Heart Problem' { 1,0 } -> {0 = apt, 1 = inept }

@attribute Caesarian { 0,1 } -> {0 = No, 1 = Yes }

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Import Dataset

In [3]:
data = pd.read_excel('D:/Iwud/Data Mining/caesarian.xlsx')

In [4]:
data.head()

,Age,Delivery Number,Delivery Time,Blood of Pressure,Heart Problem,Caesarian
0,22,1,0,2,0,0
1,26,2,0,1,0,1
2,26,2,1,1,0,0
3,28,1,0,2,0,0
4,22,2,0,1,0,1

In [5]:
data.shape

(80, 6)

Analisa data Caesarian

In [6]:
data['Caesarian'].value_counts()

1    46
0    34
Name: Caesarian, dtype: int64

Probabilitas Caesarian 1 dan 0

In [7]:
Pc1 = 46/80
Pc0 = 34/80

In [8]:
print(Pc1)

0.575

In [9]:
print(Pc0)

0.425

Perhitungan terhadap jumlah data

In [11]:
pd.crosstab(data['Delivery Number'], data['Caesarian'])

Caesarian         0   1
Delivery Number
1                19  22
2                12  15
3                 3   7
4                 0   2

In [13]:
Pdn1c0 = 19/34
Pdn2c0 = 12/34
Pdn3c0 = 3/34
Pdn4c0 = 0/34

Pdn1c1 = 22/46
Pdn2c1 = 15/46
Pdn3c1 = 7/46
Pdn4c1 = 2/46

Pdn1 = 41/80
Pdn2 = 27/80
Pdn3 = 10/80
Pdn4 = 2/80

print(Pdn1c1)

0.4782608695652174

In [14]:
# Jika P(A|B)
# Apabila kondisi
# P (B) = Pdn2
# P (A) = 1(yes) Caesarian
# P(B|A) = P Delivery Number 1|Yes Caesarian

In [15]:
P0dn1 = (Pdn1c0*Pc0)/Pdn1
print(P0dn1)

0.4634146341463415

In [16]:
P1dn1 = (Pdn1c1*Pc1)/Pdn1
print(P1dn1)

0.5365853658536586

In [17]:
# Jadi probabilitas (Caesarian|Delivery Number 1) > dibandingkan dengan probabilitas (No Caesarian | Delivery Number 1)
print(P0dn1)
print(P1dn1)

0.4634146341463415
0.5365853658536586

Studi Kasus 1

In [18]:
# Jika kondisi B dimana
# Age = 26
# Delivery Number = 2
# Delivery Time = 1
# Blood of Pressure = 1
# Heart Problem = 1
# A = Caesarian
# P(A|B) = P(Caesarian|Age26, Delivery Number 2, Delivery Time 1, Blood of Pressure 1, Heart Problem 1)

In [22]:
pd.crosstab(data['Age'], data['Caesarian'])

Caesarian  0  1
Age
17         0  1
18         1  1
19         0  2
20         1  2
21         0  2
22         2  2
23         1  0
24         1  1
25         5  2
26         6  4
27         3  4
28         3  3
29         1  5
30         2  1
31         3  0
32         1  7
33         2  3
35         1  1
36         1  2
37         0  1
38         0  1
40         0  1

In [23]:
P0Age260 = 28/34
P1Age260 = 6/34

P0Age261 = 42/46
P1Age261 = 4/46

P0Age26 = 6/80
P1Age26 = 74/80

In [24]:
pd.crosstab(data['Delivery Number'], data['Caesarian'])

Caesarian         0   1
Delivery Number
1                19  22
2                12  15
3                 3   7
4                 0   2

In [25]:
pd.crosstab(data['Delivery Time'], data['Caesarian'])

Caesarian       0   1
Delivery Time
0              16  30
1               9   8
2               9   8

In [26]:
P0dt0 = 16/34
P1dt0 = 9/34
P2dt0 = 9/34

P0dt1 = 30/46
P1dt1 = 8/46
P2dt1 = 8/46

Pdt0 = 36/80
Pdt1 = 17/80
Pdt2 = 17/80

In [27]:
pd.crosstab(data['Blood of Pressure'], data['Caesarian'])

Caesarian           0   1
Blood of Pressure
0                   5  15
1                  23  17
2                   6  14

In [28]:
P0bp0 = 5/34
P1bp0 = 23/34
P2bp0 = 6/34

P0bp1 = 15/46
P1bp1 = 17/46
P2bp2 = 14/46

Pbp0 = 20/80
Pbp1 = 40/80
Pbp2 = 20/80

In [29]:
pd.crosstab(data['Heart Problem'], data['Caesarian'])

Caesarian       0   1
Heart Problem
0              28  22
1               6  24

In [30]:
P0hp0 = 28/34
P1hp0 = 6/34

P0hp1 = 22/46
P1hp1 = 24/46

Php0 = 50/80
Php1 = 30/80

Studi Kasus 2

In [31]:
# Jika kondisi B dimana
# Age = 26
# Delivery Number = 2
# Delivery Time = 1
# Blood of Pressure = 1
# Heart Problem = 0
# P(A) = Caesarian = Pc1
# P(B) = Pdn2, Pdt1, Php0
# P(B|A)1 = (Pdn2|Caesarian) = Pdn2c1
# P(B|A)2 = (Pdt1|Caesarian) = P1dt1
# P(B|A)3 = (Pbp1|Casarian) = P1bp1
# P(B|A)4 = (Php0|Casarian) = P0hp1
# P(B)1 = Pdn2
# P(B)2 = Pdt1
# P(B)3 = Pbp1
# P(B)4 = Php0

# Ditanya P(A|B) ? 

# --> P(A|B) = P(B|A)*P(A)/P(B)

In [33]:
PC1 = ((Pdn2c1*P1dt1*P1bp1*P0hp1)*Pc1)/(Pdn2*Pdt1*Pbp1*Php0)
print(PC1)

0.2571619042400664

In [34]:
# Jika kondisi B dimana
# Age = 26
# Delivery Number = 2
# Delivery Time = 1
# Blood of Pressure = 1
# Heart Problem = 0
# P(A) = No Caesarian = Pc0
# P(B) = Pdn2, Pdt1, Php0
# P(B|A)1 = (Pdn2|No Caesarian) = Pdn2c0
# P(B|A)2 = (Pdt1|No Caesarian) = P1dt0
# P(B|A)3 = (Pbp1|No Casarian) = P1bp0
# P(B|A)4 = (Php0|No Casarian) = P0hp0
# P(B)1 = Pdn2
# P(B)2 = Pdt1
# P(B)3 = Pbp1
# P(B)4 = Php0

# Ditanya P(A|B) ? 

# --> P(A|B) = P(B|A)*P(A)/P(B)

In [36]:
PC0 = ((Pdn2c0*P1dt0*P1bp0*P0hp0)*Pc0)/(Pdn2*Pdt1*Pbp1*Php0)
print(PC0)

0.9869613630105003

In [37]:
PSum = PC1+PC0
print(PSum)

1.2441232672505667

In [38]:
PCaesarian1 = (PC1/PSum) * 100
print(PCaesarian1)

20.67013060597909

In [40]:
PCaesarian0 = (PC0/PSum) * 100
print(PCaesarian0)

79.32986939402092

Dari perhitungan probabilitas mengenai Kelahiran perbadingan antara Proses Kelahiran Sesar dan Tidak sebesar 20,67% dan 79,33%. Dapat disimpulkan Jika kehamilan terjadi pada usia 26 tahun dengan kondisi yang dialami si Ibu adalah Kehamilan kedua, prematur, Tekanan Darah Normal dan Kondisi Jantung apt maka kemungkinan besar tidak akan dilakukan Sectio Sesar